
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #ffffff;
}
textarea:focus,
select:focus {
  --tw-ring-color: var(--primary-color);
  border-color: var(--primary-color);
}










